@model ICollection<PurchDep.Domain.Stock>

<section>
    <h1>Stocks List</h1>
    <ul>
        @foreach (var stock in Model!)
        {
            <li>
                <a asp-action="Details" asp-route-id="@stock.Id">@stock.Name</a>
            </li>
        }
    </ul>
</section>