@model ICollection<PurchDep.Domain.Stock>

<section>
    <h1>Stocks List</h1>
    <table>
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var stock in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@stock.Id">
                            @stock.Id
                        </a>
                    </td>
                    <td>@stock.Name</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@stock.Id">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>