<section>
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Products" asp-action="Index">Products</a>
    <a asp-controller="Suppliers" asp-action="Index">Suppliers</a>
</section>