 <div class="main-menu">
     <div class="main-menu-container">
         <div class="main-menu-item">
             <a asp-controller="Home" asp-action="Index" class="main-menu-item-href">Home</a>
         </div>
         <div class="main-menu-item">
             <a asp-controller="Products" asp-action="Index" class="main-menu-item-href">Products</a>
         </div>
         <div class="main-menu-item">
             <a asp-controller="Suppliers" asp-action="Index" class="main-menu-item-href">Suppliers</a>
         </div>
         <div class="main-menu-item">
             <a asp-controller="Stocks" asp-action="Index" class="main-menu-item-href">Stocks</a>
         </div>
     </div>
 </div>