<section>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Products" asp-action="Index">Products</a></li>
        <li><a asp-controller="Suppliers" asp-action="Index">Suppliers</a></li>
        <li><a asp-controller="Stocks" asp-action="Index">Stocks</a></li>
    </ul>
</section>