@model ICollection<PurchDep.Domain.Supplier>

<section>
    <h1 class="content-heading">Suppliers List</h1>
    <ul>
        @foreach (var supplier in Model!)
        {
            <li>
                <a asp-action="Details" asp-route-id="@supplier.Id">@supplier.Name</a>
            </li>
        }
    </ul>
    <a asp-action="Create">Add new supplier</a>
</section>