<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="Partial/_Styles"/>
</head>
<body>
    <partial name="Partial/_MainMenu"/>
    <div class="page-content">
        @RenderBody()
    </div>
</body>
</html>
