@model IndexNamedEntityModel

<div>
    <h2>@Model!.NamedEntityName</h2>
    <div class="items-list">
        @foreach (var item in Model!.Items!)
        {
            <p>@item.Name</p>
        }
    </div>
</div>