@model PurchDep.Domain.Product

<section>
    <h1>Product Details</h1>
        <table>
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Price</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@Model.Id">
                        Удалить
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</section>

