@model PurchDep.Domain.Product

<section>
    <h1>Product Details</h1>
        <table>
        <thed>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </thed>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Price</td>
            </tr>
        </tbody>
    </table>
</section>

