@model PurchDep.Domain.Product

<section>
    <h1>Product Details</h1>
    <ul>
        <li><p>Id : @Model!.Id</p></li>
        <li><p>Name : @Model!.Name</p></li>
    </ul>
    <button asp-action="Delete" asp-route-id="@Model!.Id">Delete</button>
</section>

