@model ICollection<PurchDep.Domain.Product>

<section>
    <h1>Products List</h1>
    <table>
        <thed>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </thed>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@product.Id">
                            @product.Id
                        </a>
                    </td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                </tr>
            }
        </tbody>
    </table>
</section>